@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

:root{
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:"Oswald", sans-serif;
    --fonte3:"Lexend Deca", sans-serif; 

    --cor1:#a3522dd3;
    --cor2:#000000;
    --cor3:#84a7a97c;
}

html, body{
    min-height: 100vh;
    background-color: var(--cor3);
    font-family: var(--fonte1)
}
header{
    background-color: var(--cor2);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px ;
    color: white;
}
header h1{
    padding-top: 40px;
    font-family: var(--fonte2);
    font-size: 11vw;
}
header p{
    padding-bottom: 40px;
}
section{
    padding-top: 20vh ;
    padding-bottom: 20vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-size: 2.2vw;
    font-weight: 500px;
    font-family: var(--fonte3);
}

section.texto p{
    background-color: var(--cor3);
    padding: 10px;
    max-width: 900px;
    min-width: 320px;
}
section.imagem{
    background-color: darkgrey;
    color: white;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
}
section.imagem p{
    background-color: rgba(0, 0, 0, 0.486);
    width: 400px;
    padding: 10px;
    max-width: 900px;
    min-width: 320px;
}
section#img1{
    background-image: url('../imagens/streetimg1.png');
    background-size: cover;
}
footer{
    text-align: center;
    background-color:var(--cor2);
    color: white;
    padding: 10px;
    font-size: 2vw;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
header h1:hover{
    color: var(--cor1);
}
section h2:hover{
    color: var(--cor1);
}
